/*
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE 
DESIGNED & DEVELOPED by FREEHTML5.CO

CREDITS:
Bootstrap
jQuery
Themify Icons

//////////////////////////////////////////////////////
*/
@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 72, ../sass/style.scss */
html.fh5co-overflow, body.fh5co-overflow {
  overflow-x: auto;
}
/* line 74, ../sass/style.scss */
html.fh5co-overflow #fh5co-header-section, html.fh5co-overflow #fh5co-main, html.fh5co-overflow #fh5co-hero, html.fh5co-overflow #fh5co-mobile-menu, html.fh5co-overflow #fh5co-footer, body.fh5co-overflow #fh5co-header-section, body.fh5co-overflow #fh5co-main, body.fh5co-overflow #fh5co-hero, body.fh5co-overflow #fh5co-mobile-menu, body.fh5co-overflow #fh5co-footer {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 79, ../sass/style.scss */
body {
  font-family: 'Lato', arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #2e2e2e;
}
@media screen and (max-width: 768px) {
  /* line 79, ../sass/style.scss */
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* line 91, ../sass/style.scss */
::-webkit-selection {
  color: #ffffff;
  background: #28bbf8;
}

/* line 92, ../sass/style.scss */
::-moz-selection {
  color: #ffffff;
  background: #28bbf8;
}

/* line 93, ../sass/style.scss */
::selection {
  color: #ffffff;
  background: #28bbf8;
}

/* line 95, ../sass/style.scss */
a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #28bbf8;
  border-bottom: 2px solid transparent;
}
/* line 102, ../sass/style.scss */
a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
  color: #2e2e2e;
  border-bottom: 2px solid #28bbf8;
}

/* line 109, ../sass/style.scss */
input {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Heading */
/* line 114, ../sass/style.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
}

/* line 118, ../sass/style.scss */
h1, .h1 {
  font-size: 30px;
  line-height: 42px;
}

/* line 122, ../sass/style.scss */
h2, .h2 {
  font-size: 26px;
  line-height: 38px;
}

/* line 126, ../sass/style.scss */
h3, .h3 {
  font-size: 20px;
  line-height: 32px;
}

/* line 130, ../sass/style.scss */
h4, .h4 {
  font-size: 16px;
  line-height: 28px;
}

/* line 134, ../sass/style.scss */
h5, .h5 {
  font-size: 14px;
  line-height: 24px;
}

/* line 138, ../sass/style.scss */
h6, .h6 {
  font-size: 12px;
  line-height: 24px;
}

/* line 142, ../sass/style.scss */
ul, ol {
  padding-left: 15px;
  line-height: 26px;
}
/* line 145, ../sass/style.scss */
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

/* line 149, ../sass/style.scss */
p {
  margin: 0 0 20px 0;
}

/* line 153, ../sass/style.scss */
.col-md-12 p {
  text-align: justify;
}

/* line 157, ../sass/style.scss */
.fh5co-serif {
  font-family: "Crimson Text", serif;
}

/* line 160, ../sass/style.scss */
.fh5co-sans-serif {
  font-family: "Lato", arial, sans-serif;
}

/* line 163, ../sass/style.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 173, ../sass/style.scss */
.fh5co-lead-wrap {
  padding-top: 2em;
  padding-bottom: 5em;
}
@media screen and (max-width: 768px) {
  /* line 173, ../sass/style.scss */
  .fh5co-lead-wrap {
    padding-top: 2em;
    padding-bottom: 3em;
  }
}

/* line 181, ../sass/style.scss */
.fh5co-lead {
  font-size: 40px;
  line-height: 52px;
}
@media screen and (max-width: 768px) {
  /* line 181, ../sass/style.scss */
  .fh5co-lead {
    font-size: 30px;
    line-height: 42px;
  }
}

@media screen and (max-width: 480px) {
  /* line 192, ../sass/style.scss */
  .col-xxs-12 {
    display: block;
    clear: both;
    width: 100%;
    float: left;
  }
}
/* Header */
/* line 201, ../sass/style.scss */
#fh5co-header-section {
  width: 100%;
  padding: 40px 0 30px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  float: left;
  top: 0;
  left: 0 !important;
  right: 0;
  z-index: 103;
}
/* line 213, ../sass/style.scss */
#fh5co-header-section.fh5co-scrolled {
  padding: 0px 0;
  background: rgba(0, 0, 0, 0.8);
  background: white;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
/* line 223, ../sass/style.scss */
#fh5co-header-section.fh5co-scrolled #fh5co-logo a {
  color: #2e2e2e;
}
/* line 225, ../sass/style.scss */
#fh5co-header-section.fh5co-scrolled #fh5co-logo a:hover {
  color: #7b7b7b;
}
/* line 232, ../sass/style.scss */
#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap .sf-menu a {
  color: #2e2e2e;
  border-bottom: none !important;
}
/* line 235, ../sass/style.scss */
#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap .sf-menu a:hover {
  color: #28bbf8 !important;
}
/* line 239, ../sass/style.scss */
#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap .sf-menu li.active > a {
  color: #28bbf8 !important;
}
/* line 242, ../sass/style.scss */
#fh5co-header-section.fh5co-scrolled #fh5co-menu-wrap > .sf-menu > li > a {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* line 250, ../sass/style.scss */
#fh5co-logo {
  font-size: 20px;
  margin: 16px 0 0 0;
  padding: 0;
  font-weight: bold;
}
/* line 255, ../sass/style.scss */
#fh5co-logo a {
  border-bottom: none !important;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  /* line 250, ../sass/style.scss */
  #fh5co-logo {
    text-align: center;
    margin: 0px 0 0 0;
    float: none !important;
  }
}

/* Superfish Override Menu */
/* line 270, ../sass/style.scss */
.sf-menu {
  margin: 0 !important;
}

/* line 274, ../sass/style.scss */
.sf-menu {
  float: right;
}

/* line 277, ../sass/style.scss */
.sf-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 8em;
  *width: 8em;
}

/* line 284, ../sass/style.scss */
.sf-menu a {
  color: rgba(41, 5, 5, 0.6);
  padding: .75em 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 13px;
  border-bottom: none !important;
  font-weight: bold;
}

/* line 300, ../sass/style.scss */
.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

/* line 307, ../sass/style.scss */
.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  padding: .75em 1em;
  letter-spacing: 1px;
}

/* line 313, ../sass/style.scss */
.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  color: #ffffff;
}

/* line 320, ../sass/style.scss */
.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

/* line 326, ../sass/style.scss */
.sf-menu ul li {
  background: transparent;
}

/* line 329, ../sass/style.scss */
.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}

/* line 333, ../sass/style.scss */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #ccc;
}

/* line 345, ../sass/style.scss */
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #ccc;
}

/* line 350, ../sass/style.scss */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #ccc;
}

/* line 356, ../sass/style.scss */
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #ccc;
}

/* line 364, ../sass/style.scss */
#fh5co-menu-wrap .sf-menu a {
  padding: 2em 2em 2em 2em;
}

/* line 372, ../sass/style.scss */
#fh5co-primary-menu > li > ul li.active > a {
  color: #28bbf8 !important;
}
/* line 378, ../sass/style.scss */
#fh5co-primary-menu > li > .sf-with-ul:after {
  border: none !important;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 5px;
  top: 50%;
  margin-top: -7px;
  content: "\e64b";
  color: rgba(0, 0, 0, 0.5);
}
/* line 394, ../sass/style.scss */
#fh5co-primary-menu > li > ul li > .sf-with-ul:after {
  border: none !important;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 10px;
  top: 13px;
  font-size: 12px;
  content: "\e649";
  color: rgba(255, 255, 255, 0.3);
}

/* line 410, ../sass/style.scss */
#fh5co-primary-menu .fh5co-sub-menu {
  padding: 7px 0 3px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 420, ../sass/style.scss */
#fh5co-primary-menu .fh5co-sub-menu:before {
  position: absolute;
  top: -9px;
  right: 20px;
  width: 0;
  height: 0;
  content: '';
}

/* line 429, ../sass/style.scss */
#fh5co-primary-menu .fh5co-sub-menu:after {
  position: absolute;
  top: -8px;
  right: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #28bbf8;
  border-bottom: 8px solid rgba(0, 0, 0, 0.8);
  border-left: 8px solid transparent;
  content: '';
}

/* line 442, ../sass/style.scss */
#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
  top: 6px;
  right: 100%;
}

/* line 447, ../sass/style.scss */
#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
  top: 7px;
  right: 100%;
  border: none !important;
}

/* line 453, ../sass/style.scss */
.site-header.has-image #primary-menu .sub-menu {
  border-color: #ebebeb;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.19);
}
/* line 456, ../sass/style.scss */
.site-header.has-image #primary-menu .sub-menu:before {
  display: none;
}

/* line 460, ../sass/style.scss */
#fh5co-primary-menu .fh5co-sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff !important;
  text-transform: none;
  background: none;
}
/* line 468, ../sass/style.scss */
#fh5co-primary-menu .fh5co-sub-menu a:hover {
  color: #28bbf8 !important;
}

/* Mobile Menu */
/* line 474, ../sass/style.scss */
#fh5co-mobile-menu-btn {
  padding: 0 10px;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  background: #28bbf8;
  height: 44px;
  display: table;
}
/* line 483, ../sass/style.scss */
#fh5co-mobile-menu-btn i {
  line-height: 25px;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  color: #fff;
}

/* line 491, ../sass/style.scss */
#fh5co-mobile-menu {
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  transform: translateX(-275px);
  display: block;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 275px;
  z-index: 10002;
  background: #181920;
  padding: 0.75em 1.25em;
}
/* line 507, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul {
  padding: 0;
  margin: 0;
}
/* line 510, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul li {
  list-style: none;
}
/* line 513, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul li.active > a {
  color: #ffffff;
}
/* line 518, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul a {
  border-bottom: none !important;
  padding: 7px 0;
  display: block;
  color: #ccc;
  color: rgba(255, 255, 255, 0.5);
}
/* line 524, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul a:hover {
  color: #ffffff;
  color: white;
}
/* line 529, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-ddown {
  position: relative;
}
/* line 532, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-ddown:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  margin-top: 2px;
  content: "\e64b";
}
/* line 541, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-menu {
  display: none;
  padding-left: 20px;
}
/* line 544, ../sass/style.scss */
#fh5co-mobile-menu #fh5co-mobile-menu-ul .fh5co-sub-menu li {
  list-style: none;
}

/* line 552, ../sass/style.scss */
#fh5co-logo-mobile-wrap {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  height: 44px;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10001;
  background: white;
  color: #2e2e2e;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
/* line 572, ../sass/style.scss */
#fh5co-logo-mobile-wrap h1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
/* line 579, ../sass/style.scss */
#fh5co-logo-mobile-wrap h1 a {
  border-bottom: none !important;
  color: #2e2e2e;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* line 590, ../sass/style.scss */
#fh5co-feature {
  background: #f6f9fa;
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  /* line 590, ../sass/style.scss */
  #fh5co-feature {
    padding: 3em 0 2em 0;
  }
}

/* line 598, ../sass/style.scss */
#fh5co-hero {
  background-color: #2e2e2e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  /* line 598, ../sass/style.scss */
  #fh5co-hero {
    background-position: center center;
  }
}
/* line 614, ../sass/style.scss */
#fh5co-hero .fh5co-hero-wrap {
  display: table;
  height: 600px;
  width: 100%;
}
/* line 618, ../sass/style.scss */
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 622, ../sass/style.scss */
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 62px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #460b0b;
}
@media screen and (max-width: 768px) {
  /* line 622, ../sass/style.scss */
  #fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
    letter-spacing: 4px;
    font-size: 30px;
    line-height: 42px;
  }
}
/* line 636, ../sass/style.scss */
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2 {
  letter-spacing: 4px;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
  color: #274e18;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  /* line 636, ../sass/style.scss */
  #fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2 {
    letter-spacing: 3px;
  }
}
/* line 648, ../sass/style.scss */
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2 > span {
  position: absolute;
  bottom: 0;
  display: block;
  background: rgba(43, 17, 12, 0.4);
  width: 50px;
  height: 3px;
  left: 50%;
  margin-left: -25px;
}
/* line 661, ../sass/style.scss */
#fh5co-hero .fh5co-hero-wrap .btn {
  color: #ffffff;
}
/* line 663, ../sass/style.scss */
#fh5co-hero .fh5co-hero-wrap .btn:hover, #fh5co-hero .fh5co-hero-wrap .btn:active, #fh5co-hero .fh5co-hero-wrap .btn:focus {
  background: #28bbf8;
  border-color: #28bbf8;
}

/* line 672, ../sass/style.scss */
body.inner-page #fh5co-hero {
  height: 400px;
}
/* line 674, ../sass/style.scss */
body.inner-page #fh5co-hero .fh5co-hero-wrap {
  padding-top: 50px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  /* line 682, ../sass/style.scss */
  #fh5co-hero, .fh5co-hero-wrap {
    position: relative;
    padding: 4em 0 3em 0;
    height: inherit !important;
  }
}

/* line 689, ../sass/style.scss */
#fh5co-main {
  margin-top: 600px;
  padding-top: 50px;
  z-index: 102;
  position: relative;
  background: #ffffff;
}
@media screen and (max-width: 768px) {
  /* line 689, ../sass/style.scss */
  #fh5co-main {
    margin-top: 0px;
    padding-top: 20px;
  }
}

/* line 702, ../sass/style.scss */
body.inner-page #fh5co-main {
  margin-top: 400px;
}
@media screen and (max-width: 768px) {
  /* line 702, ../sass/style.scss */
  body.inner-page #fh5co-main {
    margin-top: 0px;
    padding-top: 20px;
  }
}

/* line 715, ../sass/style.scss */
#fh5co-hero,
#fh5co-main,
#fh5co-logo-mobile-wrap {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 723, ../sass/style.scss */
body.fh5co-mobile-menu-visible #fh5co-hero,
body.fh5co-mobile-menu-visible #fh5co-main,
body.fh5co-mobile-menu-visible #fh5co-logo-mobile-wrap {
  -moz-transform: translateX(275px);
  -webkit-transform: translateX(275px);
  -ms-transform: translateX(275px);
  transform: translateX(275px);
}

/* line 731, ../sass/style.scss */
body.fh5co-mobile-menu-visible #fh5co-mobile-menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* Helper Classes */
/* Spacer */
/* line 743, ../sass/style.scss */
.fh5co-spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

/* line 750, ../sass/style.scss */
.fh5co-spacer-xlg {
  height: 150px;
}
@media screen and (max-width: 768px) {
  /* line 750, ../sass/style.scss */
  .fh5co-spacer-xlg {
    height: 70px;
  }
}

/* line 757, ../sass/style.scss */
.fh5co-spacer-lg {
  height: 100px;
}
@media screen and (max-width: 768px) {
  /* line 757, ../sass/style.scss */
  .fh5co-spacer-lg {
    height: 50px;
  }
}

/* line 763, ../sass/style.scss */
.fh5co-spacer-md {
  height: 80px;
}
@media screen and (max-width: 768px) {
  /* line 763, ../sass/style.scss */
  .fh5co-spacer-md {
    height: 30px;
  }
}

/* line 769, ../sass/style.scss */
.fh5co-spacer-sm {
  height: 50px;
}
@media screen and (max-width: 768px) {
  /* line 769, ../sass/style.scss */
  .fh5co-spacer-sm {
    height: 20px;
  }
}

/* line 775, ../sass/style.scss */
.fh5co-spacer-xs {
  height: 30px;
}
@media screen and (max-width: 768px) {
  /* line 775, ../sass/style.scss */
  .fh5co-spacer-xs {
    height: 20px;
  }
}

/* line 781, ../sass/style.scss */
.fh5co-spacer-xxs {
  height: 20px;
}

/* line 785, ../sass/style.scss */
.fh5co-letter-spacing {
  letter-spacing: 1px;
}

/* line 788, ../sass/style.scss */
.fh5co-no-margin-bottom {
  margin-bottom: 0 !important;
}

/* line 792, ../sass/style.scss */
.fh5co-uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7b7b7b;
}

/* line 799, ../sass/style.scss */
.form-group {
  margin-bottom: 30px;
}

/* line 803, ../sass/style.scss */
.image-popup:hover {
  opacity: .7;
}

/* 
========================================

Components 

========================================
*/
/* Buttons */
/* line 822, ../sass/style.scss */
.btn {
  border-bottom: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
}
/* line 839, ../sass/style.scss */
.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
  outline: none !important;
  border-color: transparent;
}
/* line 844, ../sass/style.scss */
.btn.fh5co-btn-icon {
  text-transform: none !important;
  letter-spacing: normal !important;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 852, ../sass/style.scss */
.btn-outline {
  border: 2px solid #eaeaea !important;
  background: transparent;
  color: #2a2e37;
}
/* line 856, ../sass/style.scss */
.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
  border: 2px solid #282e3c !important;
  background: #282e3c;
  color: #ffffff;
}

/* line 862, ../sass/style.scss */
.btn-primary {
  background: #28bbf8;
}

/* line 865, ../sass/style.scss */
.btn-success {
  background: #00e195;
}

/* line 868, ../sass/style.scss */
.btn-danger {
  background: #e02745;
}

/* line 871, ../sass/style.scss */
.btn-info {
  background: #0bbff2;
}

/* line 874, ../sass/style.scss */
.btn-warning {
  background: #ffd042;
}

/* line 877, ../sass/style.scss */
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
}

/* line 890, ../sass/style.scss */
.btn-default:hover, .btn-default:active, .btn-default:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background: #282e3c;
  color: #ffffff;
}

/* line 897, ../sass/style.scss */
.form-control {
  box-shadow: none !important;
  border: 2px solid #ccc;
}
/* line 900, ../sass/style.scss */
.form-control:hover, .form-control:focus, .form-control:active {
  outline: none;
  box-shadow: none !important;
}

/* Features*/
/* Feature 1 */
/* line 913, ../sass/style.scss */
.fh5co-feature-1 .fh5co-feature-figure {
  margin-top: 5em;
}
@media screen and (max-width: 768px) {
  /* line 913, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-figure {
    text-align: center !important;
    margin-top: 0em;
  }
}
@media screen and (max-width: 768px) {
  /* line 919, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-figure img {
    display: inline-block;
    margin: 0 auto;
  }
}
/* line 928, ../sass/style.scss */
.fh5co-feature-1 .fh5co-feature-blurb ul {
  padding: 0;
  margin: 5em 0 0 0;
}
@media screen and (max-width: 480px) {
  /* line 928, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-blurb ul {
    margin: 2em 0 0 0;
  }
}
/* line 934, ../sass/style.scss */
.fh5co-feature-1 .fh5co-feature-blurb ul li {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 1em 0;
  list-style: none;
}
/* line 940, ../sass/style.scss */
.fh5co-feature-1 .fh5co-feature-blurb ul li > .fh5co-feature-blurb-text {
  float: right;
  width: 85%;
}
@media screen and (max-width: 992px) {
  /* line 940, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-blurb ul li > .fh5co-feature-blurb-text {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  /* line 940, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-blurb ul li > .fh5co-feature-blurb-text {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  /* line 940, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-blurb ul li > .fh5co-feature-blurb-text {
    width: 80%;
  }
}
/* line 954, ../sass/style.scss */
.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
  float: left;
  width: 15%;
}
/* line 957, ../sass/style.scss */
.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon i {
  font-size: 40px;
  color: #28bbf8;
}
@media screen and (max-width: 992px) {
  /* line 954, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  /* line 954, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
    width: 10%;
  }
}
@media screen and (max-width: 480px) {
  /* line 954, ../sass/style.scss */
  .fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-icon {
    width: 20%;
  }
}
/* line 972, ../sass/style.scss */
.fh5co-feature-1 .fh5co-feature-blurb ul li .fh5co-feature-blurb-title {
  letter-spacing: 2px;
  margin-bottom: 0 !important;
}

/* Feature 2*/
/* line 984, ../sass/style.scss */
.fh5co-feature-2 .fh5co-feature-item {
  margin-bottom: 30px;
}
/* line 986, ../sass/style.scss */
.fh5co-feature-2 .fh5co-feature-item p {
  font-size: 14px;
}
/* line 990, ../sass/style.scss */
.fh5co-feature-2 .fh5co-feature-title {
  letter-spacing: 2px;
}
/* line 993, ../sass/style.scss */
.fh5co-feature-2 .fh5co-feature-icon {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
/* line 997, ../sass/style.scss */
.fh5co-feature-2 .fh5co-feature-icon i {
  font-size: 50px;
  color: #28bbf8;
}
/* line 1003, ../sass/style.scss */
.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle {
  display: table;
  width: 100px;
  height: 100px;
  margin: 0 auto 2em auto;
  border: 2px solid #eaeaea;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 1014, ../sass/style.scss */
.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
/* line 1019, ../sass/style.scss */
.fh5co-feature-2 .fh5co-feature-icon.fh5co-circle img {
  width: 100px;
  height: 100px;
}

/* Feature 3 */
/* line 1029, ../sass/style.scss */
.fh5co-feature-3 .fh5co-feature-item {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 1029, ../sass/style.scss */
  .fh5co-feature-3 .fh5co-feature-item {
    display: block;
  }
}
/* line 1035, ../sass/style.scss */
.fh5co-feature-3 .fh5co-feature-icon {
  float: left;
  width: 15%;
  clear: right;
}
@media screen and (max-width: 480px) {
  /* line 1035, ../sass/style.scss */
  .fh5co-feature-3 .fh5co-feature-icon {
    width: 20%;
  }
}
/* line 1042, ../sass/style.scss */
.fh5co-feature-3 .fh5co-feature-icon i {
  font-size: 30px;
  color: #28bbf8;
}
/* line 1048, ../sass/style.scss */
.fh5co-feature-3 .fh5co-feature-blurb {
  float: right;
  width: 85%;
}
@media screen and (max-width: 480px) {
  /* line 1048, ../sass/style.scss */
  .fh5co-feature-3 .fh5co-feature-blurb {
    width: 80%;
  }
}

/* Header */
/* line 1060, ../sass/style.scss */
.fh5co-header {
  text-align: center;
}
/* line 1062, ../sass/style.scss */
.fh5co-header .fh5co-heading {
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
}
@media screen and (max-width: 768px) {
  /* line 1062, ../sass/style.scss */
  .fh5co-header .fh5co-heading {
    font-size: 30px !important;
    line-height: 42px !important;
  }
}
/* line 1071, ../sass/style.scss */
.fh5co-header .fh5co-heading-sub {
  color: #777;
  font-size: 18px;
  line-height: 30px;
}

/* Easy Rsponsive Tabs */
/* line 1080, ../sass/style.scss */
.fh5co-tab {
  clear: both;
  display: block;
}

/* line 1084, ../sass/style.scss */
.resp-tab-active {
  color: #28bbf8;
}

/* line 1087, ../sass/style.scss */
.resp-content-active, .resp-accordion-active {
  display: block;
}

/* line 1091, ../sass/style.scss */
.fh5co-tab-menu-icon {
  font-size: 20px;
  position: relative;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  /* line 1091, ../sass/style.scss */
  .fh5co-tab-menu-icon {
    margin-top: 7px;
  }
}

/* line 1102, ../sass/style.scss */
#fh5co-feature-slider .fh5co-item-slide-text {
  margin-top: 1em;
}
/* line 1103, ../sass/style.scss */
#fh5co-feature-slider .fh5co-item-slide-text > h2 {
  position: relative;
  padding-bottom: 20px;
}
/* line 1106, ../sass/style.scss */
#fh5co-feature-slider .fh5co-item-slide-text > h2 span {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 992px) {
  /* line 1102, ../sass/style.scss */
  #fh5co-feature-slider .fh5co-item-slide-text {
    margin-top: 0em;
  }
}
@media screen and (max-width: 768px) {
  /* line 1102, ../sass/style.scss */
  #fh5co-feature-slider .fh5co-item-slide-text {
    margin-top: 0em;
  }
}
@media screen and (max-width: 480px) {
  /* line 1102, ../sass/style.scss */
  #fh5co-feature-slider .fh5co-item-slide-text {
    margin-top: 0em;
  }
}

/* line 1130, ../sass/style.scss */
#fh5co-testimonial {
  padding: 10em 0;
  background: #000 url(../images/success.jpg) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  /* line 1130, ../sass/style.scss */
  #fh5co-testimonial {
    padding: 3em 0;
  }
}
/* line 1137, ../sass/style.scss */
#fh5co-testimonial blockquote {
  padding-left: 0;
  width: 70%;
  margin: 0 auto;
  color: #ffffff;
  border-left: none;
  font-size: 45px;
  line-height: 57px;
}
@media screen and (max-width: 768px) {
  /* line 1137, ../sass/style.scss */
  #fh5co-testimonial blockquote {
    width: 100%;
    font-size: 35px;
    line-height: 47px;
  }
}
/* line 1150, ../sass/style.scss */
#fh5co-testimonial blockquote p {
  text-align: center;
  color: #ffffff;
}
/* line 1155, ../sass/style.scss */
#fh5co-testimonial .fh5co-testimonial-author {
  font-size: 18px;
  font-weight: bold;
}
/* line 1159, ../sass/style.scss */
#fh5co-testimonial .fh5co-uppercase-heading-sm {
  color: #ffffff;
}

/* line 1164, ../sass/style.scss */
#fh5co-newsletter {
  padding: 3em 0;
}
@media screen and (max-width: 768px) {
  /* line 1164, ../sass/style.scss */
  #fh5co-newsletter {
    padding: 2em 0;
  }
}
/* line 1170, ../sass/style.scss */
#fh5co-newsletter .fh5co-uppercase-heading-sm {
  color: rgba(0, 0, 0, 0.4);
}

/* line 1176, ../sass/style.scss */
#fh5co-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 3em 0;
}
@media screen and (max-width: 768px) {
  /* line 1176, ../sass/style.scss */
  #fh5co-footer {
    padding: 2em 0;
  }
}

/* Accordions */
/* line 1188, ../sass/style.scss */
.fh5co-accordion .panel-title > a:hover {
  border-bottom: none !important;
}
/* line 1193, ../sass/style.scss */
.fh5co-accordion .panel-heading {
  background: transparent;
  position: relative;
  cursor: pointer;
}
/* line 1198, ../sass/style.scss */
.fh5co-accordion .panel-heading .accordion-toggle {
  color: #28bbf8;
}
/* line 1200, ../sass/style.scss */
.fh5co-accordion .panel-heading .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e622";
  right: 15px;
  top: 16px;
}
/* line 1210, ../sass/style.scss */
.fh5co-accordion .panel-heading.collapsed .accordion-toggle {
  color: #2e2e2e !important;
}
/* line 1212, ../sass/style.scss */
.fh5co-accordion .panel-heading.collapsed .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e61a";
  right: 15px;
  top: 16px;
}

/* Progress Bars */
/* line 1226, ../sass/style.scss */
.progress {
  height: 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* line 1234, ../sass/style.scss */
.progress-bar {
  box-shadow: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
/* line 1241, ../sass/style.scss */
.progress-bar.progress-bar-default {
  background: #28bbf8;
}
/* line 1244, ../sass/style.scss */
.progress-bar.progress-bar-success {
  background: #00e195;
}
/* line 1247, ../sass/style.scss */
.progress-bar.progress-bar-info {
  background: #0bbff2;
}
/* line 1250, ../sass/style.scss */
.progress-bar.progress-bar-warning {
  background: #ffd042;
}
/* line 1253, ../sass/style.scss */
.progress-bar.progress-bar-danger {
  background: #e02745;
}

/* Social Icons */
/* line 1259, ../sass/style.scss */
.fh5co-social-icons {
  text-align: center;
  padding: 0;
  margin: 0 0 2em 0;
}
/* line 1263, ../sass/style.scss */
.fh5co-social-icons li {
  list-style: none;
  display: inline;
  display: inline-block;
}
/* line 1267, ../sass/style.scss */
.fh5co-social-icons li a {
  padding: 0 10px;
  border-bottom: none !important;
}
/* line 1271, ../sass/style.scss */
.fh5co-social-icons li i {
  font-size: 30px;
}

/* Pricing Tables */
@media screen and (max-width: 992px) {
  /* line 1279, ../sass/style.scss */
  .fh5co-pricing-table-1 .fh5co-pricing-table-item {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 1279, ../sass/style.scss */
  .fh5co-pricing-table-1 .fh5co-pricing-table-item {
    margin-bottom: 20px !important;
    float: left;
    width: 100%;
  }
}
/* line 1289, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body,
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
  text-align: center;
  float: left;
  width: 100%;
  padding: 1em 2em;
}
/* line 1296, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
  background: #28bbf8;
  color: #ffffff;
}
/* line 1299, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 {
  font-size: 70px;
  position: relative;
  display: inline-block;
}
/* line 1303, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup {
  position: absolute;
  top: 2px;
  margin-left: -7px;
}
/* line 1308, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup, .fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 span {
  font-size: 14px;
  text-transform: uppercase;
}
/* line 1313, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* line 1321, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-heading {
  background: #28bbf8;
  color: #ffffff;
}
/* line 1327, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body {
  border: 2px solid #ccc;
  border-top: none;
}
/* line 1330, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul {
  padding: 0;
  margin: 0;
}
/* line 1333, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
/* line 1341, ../sass/style.scss */
.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-body {
  border: 2px solid #28bbf8;
  border-top: none;
}

/* Nav Links */
/* line 1353, ../sass/style.scss */
.fh5co-nav-links ul {
  padding: 0;
  margin: 0;
}
/* line 1356, ../sass/style.scss */
.fh5co-nav-links ul li {
  padding: 0;
  margin: 0 0 .5em 0;
  list-style: none;
}
/* line 1361, ../sass/style.scss */
.fh5co-nav-links ul li.active a {
  color: #2e2e2e;
  border-bottom: 2px solid #28bbf8;
}

/* Owl Override Style */
/* line 1375, ../sass/style.scss */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

/* line 1379, ../sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 1389, ../sass/style.scss */
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

/* line 1393, ../sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -40px;
}
/* line 1396, ../sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

/* line 1400, ../sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -40px;
}
/* line 1403, ../sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

/* line 1407, ../sass/style.scss */
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  /* line 1407, ../sass/style.scss */
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

/* line 1413, ../sass/style.scss */
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  /* line 1413, ../sass/style.scss */
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

/* line 1423, ../sass/style.scss */
.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #2e2e2e;
}
/* line 1427, ../sass/style.scss */
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

/* line 1435, ../sass/style.scss */
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}
/* line 1439, ../sass/style.scss */
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  /* line 1446, ../sass/style.scss */
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

/* line 1452, ../sass/style.scss */
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
/* line 1454, ../sass/style.scss */
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
/* line 1456, ../sass/style.scss */
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
/* line 1460, ../sass/style.scss */
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

/* line 1464, ../sass/style.scss */
.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* line 1470, ../sass/style.scss */
.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

/* line 1474, ../sass/style.scss */
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background: #28bbf8;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}
/* line 1480, ../sass/style.scss */
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #28bbf8;
}

/* line 1485, ../sass/style.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #28bbf8;
}

/* Image Alignment */
/* line 1493, ../sass/style.scss */
img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  /* line 1493, ../sass/style.scss */
  img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
/* line 1501, ../sass/style.scss */
img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  /* line 1501, ../sass/style.scss */
  img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
/* line 1509, ../sass/style.scss */
img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 1516, ../sass/style.scss */
a > img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  /* line 1516, ../sass/style.scss */
  a > img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
/* line 1524, ../sass/style.scss */
a > img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  /* line 1524, ../sass/style.scss */
  a > img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
/* line 1532, ../sass/style.scss */
a > img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Contact form */
/* line 1542, ../sass/style.scss */
.contact-address p {
  margin: 0;
}

/* Login form */
/* line 1549, ../sass/style.scss */
.login-header {
  margin: 2%;
}

/* line 1553, ../sass/style.scss */
.login-panel {
  margin-bottom: 10%;
}
/* line 1555, ../sass/style.scss */
.login-panel .panel-title {
  color: #e02745;
}

/* line 1560, ../sass/style.scss */
.dp-popup {
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 2;
}

/* line 1568, ../sass/style.scss */
.input-group.date {
  width: 200px;
}

/* line 1573, ../sass/style.scss */
datepicker .btn {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* line 1581, ../sass/style.scss */
.profile-image {
  width: 50px;
  height: 50px;
}
