<header role="header" class="login-header">
    <div class="container">
        <!-- START #fh5co-logo -->
        <h1 class="text-center"><a href="/">FabFive</a></h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default login-panel">
                <div class="panel-heading">
                    <h3 class="panel-title text-center text-default">Admin Login</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-offset-2 col-md-8">
                        <div *ngIf="adminLoginFailureMessage" class="alert alert-danger" role="alert">{{ message }}</div>
                        <form [formGroup]="adminLoginForm" (ngSubmit)="adminLogin(adminLoginForm.value)">
                            <div class="form-group" [ngClass]="{'has-error':!adminLoginForm.controls['email'].valid && adminLoginForm.controls['email'].touched}">
                                <label for="email" class="text-primary">Email address</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" [formControl]="adminLoginForm.controls['email']">
                                <small *ngIf="adminLoginForm.controls['email'].hasError('required') && adminLoginForm.controls['email'].touched" class="text-danger">Email Required</small>
                                <small *ngIf="adminLoginForm.controls['email'].hasError('isInvalidEmail') && adminLoginForm.controls['email'].touched" class="text-danger">Invalid Email</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!adminLoginForm.controls['password'].valid && adminLoginForm.controls['password'].touched}">
                                <label for="password" class="text-primary">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" [formControl]="adminLoginForm.controls['password']">
                                <small *ngIf="adminLoginForm.controls['password'].hasError('required') && adminLoginForm.controls['password'].touched" class="text-danger">Password Required</small>
                            </div>
                            <p class="text-center">
                                <button type="submit" class="btn btn-primary" [disabled]="!adminLoginForm.valid">Login</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>