<user-header></user-header>
<div class="container">    
    <div class="row" [ngClass]="{'hide': isEditMutualFund}">
        <div class="row">
            <form [formGroup]="mutualFundSearchByFolioNumberForm" class="col-md-3" (ngSubmit)="searchMutualFundByFolioNumber(mutualFundSearchByFolioNumberForm.value)">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control input-sm" name="folio_number" id="folio_number" placeholder="Folio Number" [formControl]="mutualFundSearchByFolioNumberForm.controls['folio_number']">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                    <span class="input-group-btn zero-width"></span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="resetMutualFundSearchByFolioNumber()">Reset</button>
                    </span>
                </div>
            </form>
            <form [formGroup]="mutualFundSearchForm" class="col-md-7 pull-right" (ngSubmit)="searchMutualFund(mutualFundSearchForm.value)">
                <div class="input-group input-group-sm">
                    <select class="form-control input-sm" name="user_id" id="search_user_id" placeholder="User" [formControl]="mutualFundSearchForm.controls['user_id']">
                        <option value="" selected>Select User</option>
                        <option *ngFor="let user of users" [value]="user.user_id">{{ user.first_name + ' ' + user.last_name }}</option>
                    </select>
                    <span class="input-group-btn zero-width"></span>
                    <select class="form-control input-sm" name="vendor_id" id="search_vendor_id" placeholder="Vendor" [formControl]="mutualFundSearchForm.controls['vendor_id']">
                        <option value="" selected>Select Vendor</option>
                        <option *ngFor="let vendor of vendors" [value]="vendor.id">{{ vendor.name }}</option>
                    </select>
                    <span class="input-group-btn zero-width"></span>
                    <select class="form-control input-sm" name="type" id="search_type" placeholder="Type" [formControl]="mutualFundSearchForm.controls['type']">
                        <option value="" selected>Select Type</option>
                        <option *ngFor="let type of types" [value]="type.value">{{ type.name }}</option>
                    </select>
                    <span class="input-group-btn zero-width"></span>
                    <input type="text" class="form-control input-sm" name="scheme" id="search_scheme" placeholder="Scheme" [formControl]="mutualFundSearchForm.controls['scheme']">
                    <span class="input-group-btn zero-width"></span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                    <span class="input-group-btn zero-width"></span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="resetMutualFundSearch()">Reset</button>
                    </span>
                </div>
            </form>
        </div>
        <h2 class="text-center text-danger">Mutual Funds List</h2>
        <div class="col-md-12">
            <table class="table table-hover">
                <tr *ngFor="let mutualFund of mutualFunds; let i = index">
                    <td>
                        <img *ngIf="mutualFund.profile_pic != null" src="{{ imageBaseUrl + mutualFund.profile_pic }}" class="img-circle profile-image"/>
                        <img *ngIf="mutualFund.profile_pic == null && mutualFund.gender == 1" src="{{ malePlaceholderImage }}" class="img-circle profile-image"/>
                        <img *ngIf="mutualFund.profile_pic == null && mutualFund.gender == 2" src="{{ femalePlaceholderImage }}" class="img-circle profile-image"/>
                        {{ mutualFund.first_name + ' ' + mutualFund.last_name }}
                    </td>
                    <td>
                        <small class="text-danger">Folio No. {{ mutualFund.folio_number }}</small>
                        <br/>
                        <small class="text-warning">
                            <span class="glyphicon glyphicon-calendar"></span>{{ mutualFund.start_date | date: 'd MMM yy' }} - {{ mutualFund.amount_invested | currency:'INR':true:'1.2-2' }}
                        </small>
                    </td>
                    <td>
                        <small class="text-muted">{{ mutualFund.vendor_name }} - {{ typeNames[mutualFund.type] }} - {{ mutualFund.scheme }}</small>
                        <br/>
                        <small class="text-muted">{{ mutualFund.comments }}</small>
                    </td>
                    <td>
                        <span [ngClass]="{'text-success': mutualFund.status == 1, 'text-danger': mutualFund.status == 2, 'text-warning': mutualFund.status == 3}">{{ statusNames[mutualFund.status] }}</span>
                        <small class="text-warning" *ngIf="mutualFund.mature_date != null">
                            <br/>
                            <span class="glyphicon glyphicon-calendar"></span>{{ mutualFund.mature_date | date: 'd MMM yy' }} - {{ mutualFund.matured_amount | currency:'INR':true:'1.2-2' }}
                        </small>
                    </td>
                    <td><button type="button" class="btn btn-primary btn-sm" (click)="showEditMutualFund(i, mutualFund)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button></td>
                    <td><button type="button" class="btn btn-danger btn-sm" (click)="showDeleteConfirm(i, mutualFund.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button></td>
                </tr>
                <tr *ngIf="!hasMoreMutualFunds">
                    <td colspan="6">
                        <p class="text-center text-uppercase text-muted">Thats All Folks</p>
                    </td>
                </tr>
            </table>
            <div *ngIf="hasMoreMutualFunds" class="text-center">
                <button type="button" class="btn btn-sm btn-danger" (click)="getMutualFundsList(1)">Load More</button>
            </div>
        </div>
    </div>

    <div class="row" [ngClass]="{'hide': !isEditMutualFund}">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default login-panel">
                <div class="panel-heading">
                    <a href="javascript:void(0)" class="pull-left text-warning" (click)="cancelEditMutualFund()"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <h3 class="panel-title text-center text-default">Edit Mutual Fund</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-offset-2 col-md-8">
                        <div *ngIf="mutualFundEditSuccessMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>
                        <div *ngIf="mutualFundEditFailureMessage" class="alert alert-danger" role="alert">{{ failureMessage }}</div>
                        <form [formGroup]="mutualFundEditForm" (ngSubmit)="editMutualFund(mutualFundEditForm.value)">
                           <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['user_id'].valid && mutualFundEditForm.controls['user_id'].touched}">
                                <label for="user_id" class="text-primary">User</label>
                                <select class="form-control" name="user_id" id="user_id" placeholder="User" [formControl]="mutualFundEditForm.controls['user_id']">
                                    <option value="" selected>Select User</option>
                                    <option *ngFor="let user of users" [value]="user.user_id">{{ user.first_name + ' ' + user.last_name }}</option>
                                </select>
                                <small *ngIf="mutualFundEditForm.controls['user_id'].hasError('required') && mutualFundEditForm.controls['user_id'].touched" class="text-danger">User Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['vendor_id'].valid && mutualFundEditForm.controls['vendor_id'].touched}">
                                <label for="vendor_id" class="text-primary">Vendor</label>
                                <select class="form-control" name="vendor_id" id="vendor_id" placeholder="Vendor" [formControl]="mutualFundEditForm.controls['vendor_id']">
                                    <option value="" selected>Select Vendor</option>
                                    <option *ngFor="let vendor of vendors" [value]="vendor.id">{{ vendor.name }}</option>
                                </select>
                                <small *ngIf="mutualFundEditForm.controls['vendor_id'].hasError('required') && mutualFundEditForm.controls['vendor_id'].touched" class="text-danger">Vendor Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['folio_number'].valid && mutualFundEditForm.controls['folio_number'].touched}">
                                <label for="folio_number" class="text-primary">Folio Number</label>
                                <input type="text" class="form-control" name="folio_number" id="folio_number" placeholder="Folio Number" [formControl]="mutualFundEditForm.controls['folio_number']">
                                <small *ngIf="mutualFundEditForm.controls['folio_number'].hasError('required') && mutualFundEditForm.controls['folio_number'].touched" class="text-danger">Folio Number Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['type'].valid && mutualFundEditForm.controls['type'].touched}">
                                <label for="type" class="text-primary">Type</label>
                                <select class="form-control" name="type" id="type" placeholder="Type" [formControl]="mutualFundEditForm.controls['type']">
                                    <option value="" selected>Select Type</option>
                                    <option *ngFor="let type of types" [value]="type.value">{{ type.name }}</option>
                                </select>
                                <small *ngIf="mutualFundEditForm.controls['type'].hasError('required') && mutualFundEditForm.controls['type'].touched" class="text-danger">Type Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['scheme'].valid && mutualFundEditForm.controls['scheme'].touched}">
                                <label for="scheme" class="text-primary">Scheme</label>
                                <input type="text" class="form-control" name="scheme" id="scheme" placeholder="Scheme" [formControl]="mutualFundEditForm.controls['scheme']">
                                <small *ngIf="mutualFundEditForm.controls['scheme'].hasError('required') && mutualFundEditForm.controls['scheme'].touched" class="text-danger">Scheme Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['start_date'].valid && mutualFundEditForm.controls['start_date'].touched}">
                                <label for="start_date" class="text-primary">Start Date</label>
                                <div class="input-group date-picker">
                                    <input type="text" class="form-control" name="start_date" id="start_date" placeholder="Start Date" [(ngModel)]="datePickerValue" [formControl]="mutualFundEditForm.controls['start_date']" (focus)="showDatePicker()" readonly>
                                    <span class="input-group-addon" (focus)="showDatePicker()"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                </div>
                                <div class="dp-popup" *ngIf="isDatePickerShown">
                                    <datepicker [(ngModel)]="datePickerDate" [showWeeks]="false" [maxDate]="today" [ngModelOptions]="{standalone: true}" (selectionDone)="dateSelected($event)"></datepicker>
                                </div>
                                <small *ngIf="mutualFundEditForm.controls['start_date'].hasError('required') && mutualFundEditForm.controls['start_date'].touched" class="text-danger">Start Date Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['amount_invested'].valid && mutualFundEditForm.controls['amount_invested'].touched}">
                                <label for="amount_invested" class="text-primary">Amount Invested</label>
                                <input type="text" class="form-control" name="amount_invested" id="amount_invested" placeholder="Amount Invested" [formControl]="mutualFundEditForm.controls['amount_invested']">
                                <small *ngIf="mutualFundEditForm.controls['amount_invested'].hasError('required') && mutualFundEditForm.controls['amount_invested'].touched" class="text-danger">Amount Invested Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['comments'].valid && mutualFundEditForm.controls['comments'].touched}">
                                <label for="comments" class="text-primary">Comments</label>
                                <input type="text" class="form-control" name="comments" id="comments" placeholder="Comments" [formControl]="mutualFundEditForm.controls['comments']">
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['mature_date'].valid && mutualFundEditForm.controls['mature_date'].touched}">
                                <label for="mature_date" class="text-primary">Mature Date</label>
                                <div class="input-group date-picker">
                                    <input type="text" class="form-control" name="mature_date" id="mature_date" placeholder="Matured Date" [(ngModel)]="matureDatePickerValue" [formControl]="mutualFundEditForm.controls['mature_date']" (focus)="showMatureDatePicker()" readonly>
                                    <span class="input-group-addon" (focus)="showMatureDatePicker()"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                </div>
                                <div class="dp-popup" *ngIf="isMatureDatePickerShown">
                                    <datepicker [(ngModel)]="datePickerDate" [showWeeks]="false" [minDate]="datePickerDate" [maxDate]="today" [ngModelOptions]="{standalone: true}" (selectionDone)="matureDateSelected($event)"></datepicker>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['matured_amount'].valid && mutualFundEditForm.controls['matured_amount'].touched}">
                                <label for="matured_amount" class="text-primary">Matured Amount</label>
                                <input type="text" class="form-control" name="matured_amount" id="matured_amount" placeholder="Matured Amount" [formControl]="mutualFundEditForm.controls['matured_amount']">
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!mutualFundEditForm.controls['status'].valid && mutualFundEditForm.controls['status'].touched}">
                                <label for="type" class="text-primary">Type</label>
                                <select class="form-control" name="status" id="status" placeholder="Status" [formControl]="mutualFundEditForm.controls['status']">
                                    <option value="" selected>Select Status</option>
                                    <option *ngFor="let stat of status" [value]="stat.value">{{ stat.name }}</option>
                                </select>
                                <small *ngIf="mutualFundEditForm.controls['status'].hasError('required') && mutualFundEditForm.controls['status'].touched" class="text-danger">Status Required</small>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-danger" (click)="cancelEditMutualFund()">Cancel</button>
                                <button type="submit" class="btn btn-primary" [disabled]="!mutualFundEditForm.valid">Edit</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Delete Mutual Fund alert modal -->
<div bsModal #deleteMutualFundModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteMutualFundModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="closeDeleteMutualFundModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Mutual Fund</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="mutualFundDeleteSuccessMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>
                <div *ngIf="mutualFundDeleteFailureMessage" class="alert alert-danger" role="alert">{{ failureMessage }}</div>
                <p>Are you sure. Do you want to delete this mutual fund?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteMutualFund()">Delete</button>
            </div>
        </div>
    </div>
</div>