<user-header></user-header>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default login-panel">
                <div class="panel-heading">
                    <h3 class="panel-title text-center text-default">Change Password</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-offset-2 col-md-8">
                        <div *ngIf="changePasswordSuccessMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>
                        <div *ngIf="changePasswordFailureMessage" class="alert alert-danger" role="alert">{{ failureMessage }}</div>
                        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
                            <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['old_password'].valid && changePasswordForm.controls['old_password'].touched}">
                                <label for="old_password" class="text-primary">Old Password</label>
                                <input type="password" name="old_password" class="form-control" id="oldPassword" placeholder="Old Password" [formControl]="changePasswordForm.controls['old_password']"
                                />
                                <small *ngIf="changePasswordForm.controls['old_password'].hasError('required') && changePasswordForm.controls['old_password'].touched"
                                    class="text-danger">Old Password Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['new_password'].valid && changePasswordForm.controls['new_password'].touched}">
                                <label for="new_password" class="text-primary">New Password</label>
                                <input type="password" name="new_password" class="form-control" id="newPassword" placeholder="New Password" [formControl]="changePasswordForm.controls['new_password']"
                                />
                                <small *ngIf="changePasswordForm.controls['new_password'].hasError('required') && changePasswordForm.controls['new_password'].touched"
                                    class="text-danger">New Password Required</small>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['confirm_new_password'].valid && changePasswordForm.controls['confirm_new_password'].touched}">
                                <label for="confirm_new_password" class="text-primary">Confirm New Password</label>
                                <input type="password" name="confirm_new_password" class="form-control" id="newPassword" placeholder="Confirm New Password"
                                    [formControl]="changePasswordForm.controls['confirm_new_password']" />
                                <small *ngIf="changePasswordForm.controls['confirm_new_password'].hasError('required') && changePasswordForm.controls['confirm_new_password'].touched"
                                    class="text-danger">Confirm Password Required</small>
                                <small *ngIf="changePasswordForm.controls['confirm_new_password'].hasError('passwordMatch') && changePasswordForm.controls['confirm_new_password'].touched"
                                    class="text-danger">Password mismatch</small>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>